

body {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
  
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(to left ,rgb(83, 165, 66),rgb(69, 204, 42),rgb(83, 165, 66));
}

li {
  float: left;
}

li a {
  display: block;
  color: rgb(38, 12, 12);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  animation: animacionx 5s infinite;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

ul.hover{
  background-position: 50%;
}

@keyframes animacionx{
  0% {color: orange;}
  25% {color: red;}
  50% {color: tomato;}
  75% {color: black;}
  100% {color:yellow;}
}


/*  **************************IMAGEN DE FONDO ***********************/
#fondo-pantalla{
  background-repeat: no-repeat;
  background-attachment: fixed;
}


/* ***************************** Login ********************************* */
a{
  text-decoration: none;
}

#Contenedor-login{
  background-color: rgb(170, 101, 56);
  display: inline-block;
  height: 700px;
  width: 400px;
  visibility: visible;
  position: absolute;
  top: 120px;
  left: 10%;
  border-radius: 10px;

}

input{
  border-radius: 7px;
  height: 20px;
  border-color: transparent;
}


#label-nombre{
  position:absolute;
  left:38%;
  top:10%;

}

#label-user{
  position:absolute;
  left:43%;
  top:20%;
}

#text-user{
  position:absolute;
  top:25%;
  left:27%;
}

#label-password{
  position:absolute;
  left:42%;
  top:35%;
}

#text-password{
  position:absolute;
  top:40%;
left:27%;
}

.button-container-1{
  position: relative;
  width: 100px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
  overflow: hidden;
  border: 1px solid;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  transition: 0.5s;
  letter-spacing: 1px;
  top: 25%;
}

.button-container-1 button {
  width: 101%;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 1px;
  background: #000;
  -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
  -webkit-mask-size: 2300% 100%;
  mask-size: 2300% 100%;
  border: none;
  color: #fff;
  cursor: pointer;
  -webkit-animation: ani2 0.7s steps(22) forwards;
  animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
  -webkit-animation: ani 0.7s steps(22) forwards;
  animation: ani 0.7s steps(22) forwards;
}

.mas {
  position: absolute;
  color: #000;
  text-align: center;
  width: 101%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  position: absolute;
  font-size: 20px;
  margin-top: 12px;
  overflow: hidden;
}


@-webkit-keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}




